## Lists! 

Lists come in a lot flavours in python. The bog standard list is given with sqaure brackets:

In [231]:
LIST = [1,2,3,4,5] #<- A list
LIST

[1, 2, 3, 4, 5]

what's special about lists, is that they are **mutable**; meaning they can be changed.

In [232]:
LIST.append(6) #add 6 to the end of the list

LIST[0]=100 #Change the 1st element to 100 (python indexes from 0) 
# **Note**    when you change an element directly like this, no new memory is used,
#             as such the change is said to be made "in-place"

LIST

[100, 2, 3, 4, 5, 6]

We can alter lists in other ways

In [233]:
bye_end = LIST.pop() #pop, removes the last element from the list
bye_start = LIST.pop(0) #pops the 0th element of the list

bye_start, bye_end, LIST

(100, 6, [2, 3, 4, 5])

In [234]:
LIST.extend([11,10,9]) # extend tacks on another list to the end of your list
LIST

[2, 3, 4, 5, 11, 10, 9]

In [235]:
#Another way to do this is by adding another list
LIST += [15,20,25] #This is the same as writing LIST = LIST + [15,20,25]
LIST

[2, 3, 4, 5, 11, 10, 9, 15, 20, 25]

In [236]:
LIST.sort() #Organises the list from lowest to highest
LIST

[2, 3, 4, 5, 9, 10, 11, 15, 20, 25]

In [237]:
LIST.sort(reverse = True) #Organises the list from highest to lowest
LIST

[25, 20, 15, 11, 10, 9, 5, 4, 3, 2]

In [238]:
#we can get specific elements from a list by looking at their index (remember the index starts at 0,  LIST[0]=25)
LIST[1] #elemnent 2 in LIST

20

In [239]:
#If you want to access the last element you can go in reverse using the minus numbers
LIST[-1] #the last element in LIST

2

In [240]:
LIST[1:6] #show elements 1 to 5 in the list
#     ^
#This is called a slice, there are lots of ways to slice list

[20, 15, 11, 10, 9]

---

We can perform actions on the lists too, a good example of this is sum

In [241]:
sum(LIST) #Add all the elements of the list together

104

In [242]:
print(LIST[::2])
sum(LIST[::2]) #Add every second element starting from 0

[25, 15, 10, 5, 3]

58

In [243]:
print(LIST[::-2]) #Starting from the end and going backwards, show every 2nd element
sum(LIST[::-2]) #Add every second element starting from the end

[2, 4, 9, 11, 20]

46

---

lists are not required to contain one data type

In [244]:
LIST.append('Hello')
LIST

[25, 20, 15, 11, 10, 9, 5, 4, 3, 2, 'Hello']

but now summing the elements makes no sense

In [245]:
sum(LIST)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [246]:
#find how long your list is
len(LIST)

11

---

## LOOPS!

Loops are useful when you want a peice of code to repeat multiple times. There are two types of loops:

1.) for loops, these iterate a given number of times.

2.) while loops, these loop until a condition is met. 

--- 

starting with a for loops:

In [247]:
for i in range(1,11): #loops ten times, starting from 1
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In standard python, it is common to use _ as the variable name if the iterator variable number isn't used

In [248]:
for _ in range(3):
    print('Hello!', end=' ')

Hello! Hello! Hello!

You can also loop over items in your list

In [249]:
for i in LIST:
    print(i, end=' ')

25 20 15 11 10 9 5 4 3 2 Hello

## Important points!

You should not edit the list you are iterating over! It can lead to whacky outcomes.

The example below would go on forever without the **break** condition. (we talked more about conditions in C2)

In [250]:
for i in LIST:
    LIST += [i]
    if len(LIST)>50:
        break
len(LIST)

51

**break** forces the loop you are currently in to end. This can be useful for a variety of reasons, from code readability to memeory management!

---

Another feature is **continue**. This ends the current loop your on and goes to the next itteration. This is useful for when you need to skip certain elements (We can also iterate through strings!):

In [251]:
for i in 'Hppeppplplpppppo':
    if i =='p':
        continue
    print(i, end=' ')

H e l l o

we can also create loop within loops, these are called **nested loops** (or loop-ception)

In [252]:
for i in range(10):
    for j in range(20):
        print((i*j)//20, end=' ')
    print(f'   <-  i = {i}')

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0    <-  i = 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0    <-  i = 1
0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1    <-  i = 2
0 0 0 0 0 0 0 1 1 1 1 1 1 1 2 2 2 2 2 2    <-  i = 3
0 0 0 0 0 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3    <-  i = 4
0 0 0 0 1 1 1 1 2 2 2 2 3 3 3 3 4 4 4 4    <-  i = 5
0 0 0 0 1 1 1 2 2 2 3 3 3 3 4 4 4 5 5 5    <-  i = 6
0 0 0 1 1 1 2 2 2 3 3 3 4 4 4 5 5 5 6 6    <-  i = 7
0 0 0 1 1 2 2 2 3 3 4 4 4 5 5 6 6 6 7 7    <-  i = 8
0 0 0 1 1 2 2 3 3 4 4 4 5 5 6 6 7 7 8 8    <-  i = 9

---

### While Loops

These guys run until a condition is met

In [253]:
n=0
while n<10:
    n+=1
    print(n)

1
2
3
4
5
6
7
8
9
10

the way this works:

* while (condition is True) -> keep looping
* while (condition is False) -> stop looping

In [254]:
bool_ = True
print('loop started\n-----\n')

while bool_:
    bool_=False
    print('bool_ changed to False')
    

print('\n-----\nloop finished')

loop started
-----

bool_ changed to False

-----
loop finished

---

## Truthy and Falsey

Certain datatypes have the property called Truthy. This means when a datatype has meaningful info it will return true when questioned.

In [255]:
while LIST:
    #This will keep looping until the list is empty. Empty lists evaluate to False
    #Strings behave the same way
    print(LIST.pop(), end=' ') #remove last element from list
LIST

5 9 10 11 15 20 25 Hello 2 3 4 5 9 10 11 15 20 25 Hello 2 3 4 5 9 10 11 15 20 25 Hello 2 3 4 5 9 10 11 15 20 25 Hello 2 3 4 5 9 10 11 15 20 25

[]

### Empty lists and strings are falsey!

---

## Tasks:

* starting with an empty list **[ ]**, make a list of 10 elements where each element is the sum of all the elements before it plus the index of the element it is 
-- (*Hint: sum(L) should equal 1013*)



* using a while loop, remove all the elements that **aren't** a multiple of 5 
-- (*Hint 1: 0 is a multiple of 5*, *Hint 2:   sum(L) should now be 270*)



* reverse the list in place **Fun fact, this is often used as an opening interview question for software engineers**


* in a new list, convert each number to its string representation prefixed with 'num_'

**Bonus:**

* Concatinate all of the strings into one string from your new list using **join** (ans = 'num_255num_15num_0')
* Finally, using **split** on the string from the previous question, return a list of string numbers (ans = ['255','15','0'])

In [269]:
L = []

print(sum(L))

0